.heading {
    color: #f0f0f0;
    background-color: var(--orange);
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.avatar_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.avatar > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.headers {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    font-size: 1.2rem;
}

.recipe_wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.recipe {
    box-shadow: 0px 0px 3px var(--shadow-color);
}

.img_wrapper {
    position: relative;
}

.img_wrapper > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 5 / 3.5;
}

.recipe_name {
    width: 100%;
    font-weight: bold;
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0%;
    left: 50%;
    translate: -50%;
    padding: 1rem 0;
}


@media screen and (max-width: 1200px) {
    .heading {
        font-size: 1.2rem;
    }
    .recipe_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .avatar > img {
        width: 40px;
        height: 40px;
    }
    .headers {
        font-size: 1rem;
        gap: 0.5rem;
    }
    .recipe {
        width: 100%;
    }
    .recipe_wrapper {
        grid-template-columns: 1fr;
    }
}